body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/113/063/original/nature-scene.jpg?1706690016);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Rubik", sans-serif;
}
a {
  color: #b8ccc7;
}
header {
  border-bottom: 1px solid
    linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
  padding: 0 0 30px 0;
}

.weather-app {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  );
  border-radius: 15px;
  box-shadow: 15px 15px 15px rgb(0, 0, 0, 0.6);
  color: #3d9086;
  margin: 120px auto;
  max-width: 400px;
  padding: 30px;
}
.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.search-form-input {
  background: #b8ccc7;
  border: none;
  border-radius: 9px;
  font-size: 16px;
  flex: 1 0 10rem;
  padding: 15px 30px;
}
input::placeholder {
  color: #18433f;
}
.search-form-button {
  background: #b8ccc7;
  color: #18433f;
  border: none;
  border-radius: 9px;
  font-size: 16px;
  flex: 1 0 2rem;
  padding: 15px 20px;
}
main {
  padding: 30px 0;
}

.weather-app-city {
  color: #3d9086;
  font-size: 52px;
  font-weight: 800;
  line-height: 48px;
  margin: 0 0 20px 0;
  text-align: center;
}
.weather-app-details {
  color: #b8ccc7;
  font-size: 22px;
  font-weight: 600;
  margin: 10px auto;
  text-align: center;
}
.weather-app-conditions {
  color: #b8ccc7;
  text-align: center;
}
.weather-app-conditions strong {
  color: #3d9086;
}
.weather-app-temperature-container {
  display: flex;
  justify-content: center;
}

.weather-app-icon {
  width: 100px;
  height: 100px;
  margin-top: -7px;
}
.weather-app-temperature {
  color: #3d9086;
  font-size: 77px;
  line-height: 88px;
  font-weight: 750;
}
.weather-app-unit {
  color: #3d9086;
  font-size: 28px;
  font-weight: 700;
}

footer {
  border-top: 1px solid
    linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
  color: #b8ccc7;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
}
